.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  background-color: #ffffff;
  padding: 0 16px;
  box-sizing: border-box;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.right {
  display: flex;
  align-items: center;
  position: relative;
}

.badge {
  color: black;
}
